<div class="container">

  <h1>Ember JWT Token Auth Example App</h1>

  {{#if session.isAuthenticated}}
    <li><a href="#">Hi, {{sessionAccount.account.email}}</a></li>
    <li><a href="#" {{action 'invalidateSession'}}>Logout</a></li>
  {{else}}
    <li>{{#link-to 'login'}}Log In{{/link-to}}</li>
    <li>{{#link-to 'signup'}}Sign Up{{/link-to}}</li>
  {{/if}}
  <br>
  <div class="panel panel-default">
    <div class="panel-heading"><strong>Session Info</strong></div>
    <div class="panel-body" style="background-color: #FEFFFF;">
      <ul>
        <li>
          <strong>Session is authenticated?</strong>  {{session.isAuthenticated}}
        </li>

        <li>
          <strong>Session Contents:</strong>
            <p style="word-wrap: break-word;">{{session-object-formatter session.data.authenticated}}</p>
        </li>
      </ul>
    </div>
  </div>
</div>
  {{outlet}}




